<a href="https://colab.research.google.com/github/haneef-hawk/ml-master/blob/list/lists_example.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lists
Lists in Python represent ordered sequences of values. Here is an example of how to create them:

In [17]:
evenNumbers = [2, 4, 6, 8]

We can have a list of strings as below example code:

In [18]:
cars = ["Tesla","WV","Ferrari","Subharu","Opel","Jeep","Toyota"]

We can also have a list of lists

In [19]:
matrixA = [
    [12,11,13],
    [34,54,67],
    [23,90,21], # a comma after the last element is optional 
]

# the above code can also be written as shown below.
matrixB = [[12,11,13], [34,54,67], [23,90,21]]

A list can also have a mix of different datatypes as shown below

In [20]:
person = [29,"Mohamed Ali","Professional Boxer",3]

# accessing list items using index value
index default value starts with 0.

In [21]:
print(cars[0])

Tesla

Elements at the end of the list can be accessed with negative numbers, starting from -1:

In [22]:
print(cars[-1],cars[-2], cars[-3])

Toyota Jeep Opel

# Slicing
cutting a portion of the list/array based on the index numbering [inclusive start index : exclusive end index ]
example as shown below from the list cars = ["Tesla","WV","Ferrari","Subharu","Opel","Jeep","Toyota"]

In [23]:
print(cars[0:2]) # prints from index value 0 to 1, because 2 is exclusive and 0 is inclusive.

['Tesla', 'WV']

In [24]:
print(cars[:2]) # the starting value is 0 by default, print till index value 1.

['Tesla', 'WV']

In [25]:
print(cars[2:]) # from index value 2 till the end of the list.

['Ferrari', 'Subharu', 'Opel', 'Jeep', 'Toyota']

In [26]:
print(cars[1:-1]) # print everything except the first and the last

['WV', 'Ferrari', 'Subharu', 'Opel', 'Jeep']

In [27]:
print(cars[-3:]) # print the last 3 values

['Opel', 'Jeep', 'Toyota']

In [28]:
print(cars[:-3]) # print excluding the last 3 values

['Tesla', 'WV', 'Ferrari', 'Subharu']

# Changing list values
Lists are "mutable", meaning they can be modified "in place".

One way to modify a list is to assign to an index or slice expression.

For example, let's say we want to rename Mars:

In [29]:
print("before\n",cars)
cars[3]="MG"
print("after\n",cars)

before
 ['Tesla', 'WV', 'Ferrari', 'Subharu', 'Opel', 'Jeep', 'Toyota']
after
 ['Tesla', 'WV', 'Ferrari', 'MG', 'Opel', 'Jeep', 'Toyota']

we can also update a bulk values by making use of the slice concept as shown below.

In [30]:
print("before\n",cars)
cars[:3] = ["Lamborghini","Fiat","GMC"]
print("after\n",cars)

before
 ['Tesla', 'WV', 'Ferrari', 'MG', 'Opel', 'Jeep', 'Toyota']
after
 ['Lamborghini', 'Fiat', 'GMC', 'MG', 'Opel', 'Jeep', 'Toyota']