<a href="https://colab.research.google.com/github/haneef-hawk/ml-master/blob/list/lists_example.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lists
Lists in Python represent ordered sequences of values. Here is an example of how to create them:

In [ ]:
evenNumbers = [2, 4, 6, 8]

We can have a list of strings as below example code:

In [ ]:
cars = ["Tesla","WV","Ferrari","Subharu","Opel","Jeep","Toyota"]

We can also have a list of lists

In [ ]:
matrixA = [
    [12,11,13],
    [34,54,67],
    [23,90,21], # a comma after the last element is optional 
]

# the above code can also be written as shown below.
matrixB = [[12,11,13], [34,54,67], [23,90,21]]

A list can also have a mix of different datatypes as shown below

In [ ]:
person = [29,"Mohamed Ali","Professional Boxer",3]